<% if memo.favorited_by?(current_user) %>
<%# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
  <%= link_to memo_favorites_path(memo), method: :delete, remote: true do %>
  <span class="material-icons" style="color:red">favorite</span><%= memo.favorites.count %> LGTM！
  <%# <span style="color:red;">❤︎</span> %>
  <% end %>
<% else %>
<%# 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
  <%= link_to memo_favorites_path(memo), method: :post, remote: true do %>
  <span class="material-icons">favorite_border</span><%= memo.favorites.count %> LGTM！
  <%# <span>❤︎</span> %>
  <% end %>
<% end %>