<div class="card">
  <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), memo_path(memo.id)%>
  <div class="card__body">
    <%= link_to memo.title, memo_path(memo.id), class: :card__title%>
    <p class="card__summary">
      <%= memo.goal %>
    </p>
    <%= link_to "by #{memo.user.nickname}", root_path, class: :card__user %>
  </div>
</div>