<div class="main font-serif font-black">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading flex justify-center text-4xl text-indigo-900">Note Edit</h2>
      <%= render partial: "form", locals: { memo: @memo } %>
      <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>