<main class="main font-serif font-black">
  <div class="inner relative">
    <div class="card__wrapper">
      <%= render partial:'memo', collection: @memos%>
    </div>
      
    <div class="memo-btn fixed right-0 bottom-0 bg-indigo-900 text-white py-2 px-4 rounded">
      <%= link_to(new_memo_path, class: "memo-btn") do %>
      <span class="material-icons text-6xl">note_add</span>
      <%# <span class="memo-btn-text">memo</span> %>
      <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      <% end %>
    </div>
  </div>
</main>